<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path('bckg-banner')%>');">
  <div class="banner-content">
    <h1>Welcome to MR booking</h1>
    <p>Book meeting rooms easily</p>

    <form action="/search" class="form-inline">


      <input type="text" name="location" class="form-control" placeholder="Location">
      <input type="date" name="date" class="form-control" placeholder="Begin time">
      <input type="number" name="n_people" class="form-control" placeholder="Number of people">


      <select class="form-control" name="duration">
        <option value="" disabled selected>For :</option>
        <option value="1">the morning</option>
        <option value="2">the afternoon</option>
        <option value="3">the evening</option>
        <option value="4">the whole-day</option>
      </select>

      <input type="submit" value="Search" class="btn btn-danger">
       <%= link_to "List All", meeting_rooms_path , class: "btn btn-info" %>
    </form>
  </div>
</div>
