<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('bckg-banner')%>);">
  <div class="banner-content">
    <h1>Welcome to MR booking</h1>
    <p>Book meeting rooms easily</p>

    <form action="#" class="form-inline">
      <input type="text" name="location" class="form-control" placeholder="Location">
      <input type="date" name="begin-date" class="form-control" placeholder="Begin time">
      <input type="date" name="end-date" class="form-control" placeholder="End time">
      <select class="form-control">
        <option value="" disabled selected>How many people ?</option>
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
      <input type="submit" value="Search" class="btn btn-danger">
      <input type="submit" value="List all" class="btn btn-info">
    </form>
  </div>
</div>
