.card {
  height: 400px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: white;
  color: #333333;
  border: 1px #c5c4c4 solid;
  position: relative;
  border-radius: 5px;
  margin: 10px 10px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  // position: absolute;
  // top: 10px;
  // left: 10px;
  text-align: center;
  font-size: 24px;
  // text-transform: uppercase;
  font-weight: bold;
}

.card-image {
  width: 100%;
  height: 60%;
  background-size: cover !important;
}
.card-description {
  // position: absolute;
  // bottom: 10px;
  // left: 10px;
  h2 {
    font-size: 24px;
    margin-left: 10px;
  }
  p {
    font-size: 16px;
    margin-left: 12px;
  }
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}


.card-show{

  position:relative;
  padding:20px;
  height: 200px;
  width:100%;
  height:500px;
  // background-color: #CCCCCC;
  border-radius: 5px;

}

.card-show-description{
  top:10px;
  left:10px;

  padding:20px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 50px;
  margin-bottom: 20px;



}

.card-show-right{
  top:10px;
  right:50px;

  padding:20px;
  // height: 500px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;



}
